.about-page-top {
  background-image: url(../../images/history.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-page-top .overlay {
  background-color: #000000ad;
  height: 300px;
}
.about-page-top p {
  font-size: 80px;
  color: #fff;
  font-weight: 900;
}
.about-page-top p span {
  font-size: 150px;
  color: #c99351;
}

@media (max-width: 991px) {
  .about-page-top p {
    font-size: 50px;
  }
  .about-page-top p span {
    font-size: 90px;
  }
}
