.galary-page-top {
  background-image: url(../../images/galarybg.png);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.galary-page-top .overlay {
  background-color: #000000ad;
  height: 300px;
}
.galary-page-top p {
  font-size: 80px;
  color: #fff;
  font-weight: 900;
}
.galary-page-top p span {
  font-size: 150px;
}
